#sidebarUl {
    padding: 0;
    margin: 10px;
    list-style: none;
}


/* FOOTER */
.footer {
    padding: 10px;
    background: linear-gradient(transparent 0%, darkgray 20%, transparent 85%);
    /* background-color: darkgray; */
    color: black;
    margin-top: 20px;
}

.footer p {
margin-top: 0.8em!important;
margin-left: 1.5em;
}

/* HEADER */

.header {
    /* margin-top: -2rem;
    margin-bottom: -2rem; */
    padding: 10px;
    background: linear-gradient(transparent 0%, darkgray 20%, transparent 85%);
    color: rgb(250, 118, 118);
    font-size: 122px;
    letter-spacing: 3px;
}

/* SIDEBAR */
.link-li {
    /* border: 1px solid black; */
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    letter-spacing: 3px;
    /* text-decoration: none; */
    font-weight: bold;
    color: rgb(63, 9, 9);
}

.link-li:hover {
    box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
    transform: translate3D(0, -4px, 0);
    color: rgb(250, 118, 118);
  }
